/* Reset de margens e preenchimentos padrão para todos os elementos */
* {
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    background-color: rgb(255, 255, 248);
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
html{
    overflow-x: hidden;
}
/* Estilos para a navegação */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: hidden !important;
}

/* Estilos para o cabeçalho dentro da navegação */
header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    box-shadow: 2px 5px 5px black;
    overflow: hidden !important
}
ul li{
    margin-top: 10px;
    align-items: center;
    text-align: center;
}
/* Estilos para o título "Linkedin" dentro do cabeçalho */
h2 {
    display: flex;
    justify-content: center;
    text-align: center;
}
.mobile-menu div{
    display: block;
    height: 2px;
    width: 32px;
    background: #1f1f1f;
    margin: 8px;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
/* Estilos para a lista dentro do cabeçalho */
ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

/* Estilos para os itens da lista dentro do cabeçalho */


/* Estilos para a imagem e o nome no corpo do documento */
body > div {
    text-align: center;
}
#content{
    display: flex;  
    flex-wrap: wrap; 
    height: auto; 
    width: auto; 
    justify-content: center; 
    overflow: hidden; 
    padding: 0; 
    margin: 0; 
    z-index: -20;
}
/* Estilos para a imagem dentro do corpo do documento */
img.radius {
    display: inline-block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Estilos para o nome dentro do corpo do documento */
h2 {
    font-size: 1.5em; /* Ajuste o tamanho da fonte conforme necessário */
}
a:hover{
    transition: 0.5s;
    opacity: 0.7;
    cursor: pointer;
    color: rgb(44, 48, 48);
}
@media screen and (max-width: 780px){
    body{
        position: relative;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        height:18vh;
        margin: 0;
        padding: 0;
        overflow-y: hidden !important;
        z-index: 1;
    }
    nav h2{
        display: flex;
        justify-content: center;
        text-align: center;
    }
   span#hobby{
     width: auto;
   }
    ul.menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        max-width: 300px;
        background-color: rgb(218, 218, 218);
        transform: translateX(100%);
        transition: transform 0.6s ease-in;
        padding: 10px 5px 10px 5px;
        visibility: hidden;
    }
    ul.menu li{
        display: block;
        align-items: center;
        width: 100%; /* Faz os <li> ocuparem toda a largura do <ul> */
        text-align: center; /* Centraliza o texto dentro dos <li> */
        /*padding: 10px;  Adiciona espaçamento dentro dos <li> para melhor visualização */
        margin-left: 0;
        overflow-x: hidden;
        transition: transform 0.3s ease, opacity 0.3s ease;
        
    }
    ul.menu-active li a {
        padding: 10px; /* Ajustar padding se necessário */
        width: calc(100% - 20px); /* Ajustar largura considerando o padding */
    }
    ul.menu-active{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        height: 400px;
        background-color: rgb(238, 238, 238);
        transform: translateX(0);
        position: absolute;
        top: 3%;
        right: 0;
        transition: transform 0.3s ease-out;
        z-index: 210 !important;
        visibility: visible;
        margin: 0 0 0 0;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    ul.menu-active li{
        display: block;
        text-align: center;
        width: 100%; /* Faz os <li> ocuparem toda a largura do <ul> */
        text-align: center; /* Centraliza o texto dentro dos <li> */
        /*padding: 10px;  Adiciona espaçamento dentro dos <li> para melhor visualização */
        margin-right: 40px;
    }
    .mobile-menu{
        display: block;
        
    }
    .mobile-menu div{
        transform: rotate(0) translate(0);
        transition: transform 0.6s ease, opacity 0.6s ease;
    }
    .mobile-menu-active{
        z-index: 199 !important;
    }
    .mobile-menu-active div.line1{
        height: 3px;
        width: 32px;
        background-color: #1f1f1f;
        transform: rotate(-45deg) translate(-10px, 8px);
        transition: transform 0.6s ease, opacity 0.6s ease;
    }
    .mobile-menu-active div.line2{
        opacity: 0;
        transition: transform 0.6s ease, opacity 0.6s ease;
    }
    .mobile-menu-active div.line3{
        height: 3px;
        width: 32px;
        background-color: #1f1f1f;
        transform: rotate(45deg) translate(5px, 7px); 
        transition: transform 0.6s ease, opacity 0.6s ease;
    }
    
    
@keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }
button:hover{
    cursor: pointer;
}
.technology-section img{
    height: 200px;
    width: 400px;
    border-radius: 20px;
}

    
}