/* Reset de margens e preenchimentos padrão para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 248);
    overflow-x: hidden;
}
/* Estilos para a navegação */
nav {
    display: flex;
    box-shadow: 2px 5px 5px black;
    width: 100vw;
    height: 10vh;
    justify-content: space-evenly;
    background-color: rgb(248, 247, 247);
}

/* Estilos para o cabeçalho dentro da navegação */
header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
ul li{
    
    align-items: center;
    text-align: center;
}
/* Estilos para o título "Linkedin" dentro do cabeçalho */
h2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Estilos para a lista dentro do cabeçalho */
ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

/* Estilos para os itens da lista dentro do cabeçalho */


/* Estilos para a imagem e o nome no corpo do documento */
body > div {
    text-align: center;
}

/* Estilos para a imagem dentro do corpo do documento */
img.radius {
    display: inline-block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Estilos para o nome dentro do corpo do documento */
h2 {
    font-size: 1.5em; /* Ajuste o tamanho da fonte conforme necessário */
}
a:hover{
    transition: 0.5s;
    opacity: 0.7;
    cursor: pointer;
    color: rgb(44, 48, 48);
}



  
@media screen and (max-width: 722px){
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height:18vh;
    }
    .menu {
        display: block;
        width: 20px;
        height: 20px;
        border-top: 2px solid #000; /* Adicione a cor desejada para a borda superior */
      
      }
      
      .menu::before,
      .menu::after {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor; /* Adicione a cor desejada para as linhas */
        margin: 6px 0;
      }
      nav.active .menu{
        border-top: 0;
      }
      nav.active .menu::after{
        transform: rotate(135deg);
        transition: 0.8s;
        margin: -2px 0;
      }
      nav.active .menu::before{
        transform: rotate(-135deg);
        margin: 0;
        transition: 0.8s;
        top:25px;
      }
      ul#lista{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 18vh;
        right: 0;
        visibility: hidden;
        transition: 0.6s ease-in ;
        height: 0;
      }
   nav.active #lista{
      display: flex;
      visibility: visible;
      flex-direction: column;
      justify-content: space-around; /* Para justificar horizontalmente */
      align-items: center; /* Para justificar verticalmente */
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 18vh;
      right: 0;
      height: 400px;
      width: 50vw;
      background-color: rgb(245, 241, 241);
      z-index: 10000000;
      overflow-y: auto;
   } 
   .active li{
    padding: auto;
    text-align: center;
    margin-left: 0;
   }
   span#hobby{
     width: auto;
   }
   ul li{
    margin-left: calc(0.3%);
   }
}
button:hover{
    cursor: pointer;
}
.technology-section img{
    height: 200px;
    width: 400px;
    border-radius: 20px;
}